#to-button {
  left: 295px;
}
@media only screen and (max-width: 1365px) {
  #to-button {
    left: 19%;
  }
}
#to-menu {
  left: 135px;
}
@media only screen and (max-width: 1365px) {
  #to-menu {
    left: 0.5%;
  }
}
