.TotalValue {
  display: flex;
  margin-left: 6%;
  justify-content: space-between;
}
dd {
  margin: auto auto auto 10%;
}
dt {
  display: flex;
}
dd.Accepted, span.Accepted {
  text-decoration-line: line-through;
  color: #999999;
}
.ModifyButton {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  padding: 0px 3px 0px 3px;
}
.Add {
  color: #00ff00;
  padding-left: 4px;
}
.Remove {
  color: #ff0000;
}
.ModifyButton:hover {
  cursor: pointer;
}
.Add.Disabled {
  background-color: #777777;
  color: #00BB00;
}
.Remove.Disabled {
  background-color: #777777;
  color: #770000;
}
.ItemNo {
  margin-left: 1%;
}
