<button (click)="toggleMenu()" [class]="menuButtonClass" class="MenuButton Top Center">CART</button>
<div [class]="menuClass" class="Menu Top Center"
  [ngStyle]="{'overscroll-behavior-y':'none'}">
  <div class="TotalPrice">
    <b style="display: flex;">Total:</b>
    <span class="Price"><b>{{cartTotal | currency}}</b></span>
  </div>
  <hr />
  <dl class="List">
    <ng-template ngFor let-item [ngForOf]="cart" let-i="index">
      <dt>
        <span class="Remove" (click)="removeItem(i)">X</span>
        <span class="ItemNo">Item {{item.key}}</span>
        <span class="Price" *ngIf="price">{{item.ct*price[item.con+':'+item.com] | currency}}</span>
      </dt>
      <dd>Conglomerate: {{item.con}}</dd>
      <dd>Company: {{item.com}}</dd>
      <dd *ngIf="item.tx">From: {{item.tx}}</dd>
      <dd>Amount: {{item.ct}}</dd>
    </ng-template>
  </dl>
</div>
