.List {
  margin: 0% auto auto auto;
}
dd {
  margin: auto auto auto 10%;
}
.Remove {
  color: #ff0000;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  padding: 0px 3px 0px 3px;
}
.Remove:hover {
  cursor: pointer;
}
dt {
  display: flex;
}
.ItemNo {
  margin-left: 1%;
}
.TotalPrice {
  display: flex;
  margin-left: 6%;
  justify-content: space-between;
}
.Disabled {
  background-color: #777777;
  color: #770000;
}
