<button id="cart-button" (click)="toggleMenu()" [class]="menuButtonClass" class="MenuButton">CART</button>
<div [class]="menuClass" id="cart-display" class="Menu"
  [ngStyle]="{'overscroll-behavior-y':'none'}">
  <dl class="List">
    <ng-template ngFor let-item [ngForOf]="cart" let-i="index">
      <dt><span class="Remove" (click)="removeItem(i)">X</span> Item {{item.key}}</dt>
      <dd>Conglomerate: {{item.con}}</dd>
      <dd>Company: {{item.com}}</dd>
      <dd *ngIf="item.tx">From: {{item.tx}}</dd>
      <dd>Amount: {{item.ct}}</dd>
    </ng-template>
  </dl>
</div>
