#cart-button {
  left: 635px;
}
@media only screen and (max-width: 1365px) {
  #cart-button {
    left: 44%;
  }
}
.Down {
  background-color: #dddddd !important;
}
#cart-display {
  left: 465px;
}
@media only screen and (max-width: 1365px) {
  #cart-display {
    left: 23%;
  }
}
.On {
  display: block;
}
.Off {
  display: none;
}
.Up {
  background-color: #eeeeee;
}
.List {
  margin: 0% auto auto auto;
}
dd {
  margin: auto auto auto 10%;
}
.Remove {
  color: #ff0000;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  padding: 0px 3px 0px 3px;
}
.Remove:hover {
  cursor: pointer;
}
