.Con {
  flex-basis: 48%;
  border: solid black 1px;
  margin: 5px;
}
.TwoColumn {
  display: grid;
  grid-template-columns: repeat(2, max-content);
}
.Flex {
  display: flex;
}
.Flex.Row {
  flex-direction: row;
}
.Flex.ColumnReverse {
  flex-direction: column-reverse;
}

