<div class="Flex Row">
  <h1 class="Ultra">Eggonomics</h1>
  <img src="/assets/EggLogoV3.png" style="height: 80px; width: auto;">
  <div class="Flex ColumnReverse">
    <b>Game: {{ game }}</b>
    <b>User: {{ user }}</b>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="Flex ColumnReverse">
    <button routerLink="">Exit</button>
  </div>
</div>
<div *ngIf="!connected; else connectedTemplate">
  <div *ngFor="let message of messages">{{ message }}<br /></div>
  <button routerLink="">Exit</button>
</div>
<ng-template #connectedTemplate>
  <div *ngIf="value.err; else conglomeratesTemplate">
    <div *ngFor="let message of messages">{{ message }}<br /></div>
    <div [ngSwitch]="value.err">
      <div *ngSwitchCase="'ENOGAME'">
        <button routerLink="">Exit</button>
      </div>
      <div *ngSwitchCase="'ENOUSER'">
        <button (click)="addUser()">Add user</button>
      </div>
      <div *ngSwitchCase="'ENOCMD'">
        <button (click)="requestReload()">Reload game</button>
      </div>
      <div *ngSwitchCase="'ENOKEY'">
        <button (click)="requestReload()">Reload game</button>
      </div>
      <div *ngSwitchCase="'EPATCH'">
        <button (click)="requestReload()">Reload game</button>
      </div>
      <div *ngSwitchDefault>
        <b>GENERIC ERROR</b>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #conglomeratesTemplate>
  <app-trade-offer [state]="state"></app-trade-offer>
  <app-public-work [state]="state" (raiseEE)="raisePublicWork($event)"></app-public-work>
  <app-cash (reportEE)="reportPledge($event)" [localSubjects]="localSubjects"
  [cart]="cart" [user]="user" [stateSubjects]="stateSubjects" [state]="state"></app-cash>
  <app-debug-menu appMenu [state]="state" (debugEE)="debug($event)" (breakEE)="breakStuff()"
  (patchEE)="patch()"></app-debug-menu>
  <app-cart [cart]="cart" (cartEE)="removeItem($event)" [state]="state" [cartTotal]="cartTotal"></app-cart>
  <app-round [state]="state" [stateSubjects]="stateSubjects" (readyEE)="ready($event)"[user]="this.user"></app-round>
  <div class="Flex Grid">
    <app-conglomerate *ngFor="let con of conglomerates" [conglomerate]="con[0]" class="Con" [cart]="cart"
    [state]="state" [description]="con[1]" [user]="user" (cartBubbleEE)="addCartItem($event)"
    [localSubjects]="localSubjects"></app-conglomerate>
  </div>
</ng-template>
<br />
<br />
