<div class="Flex Row">
  <h1 class="Ultra">Eggonomics</h1>
  <img src="/assets/EggLogoV3.png" style="height: 80px; width: auto;">
  <div class="Flex ColumnReverse">
    <table>
      <tr>
        <td><b>User:</b></td>
        <td><b>{{ user }}</b></td>
      </tr>
      <tr>
        <td><b>Game:</b></td>
        <td><b>{{ game }}</b></td>
        <td><button id="exit-button" routerLink="">Exit</button></td>
      </tr>
    </table>
  </div>
</div>
<ng-container>
  <div *ngIf="value.err; else conglomeratesTemplate">
    <div *ngFor="let message of messages">{{ message }}<br /></div>
    <div [ngSwitch]="value.err">
      <div *ngSwitchCase="'ENOGAME'">
        <hr />
        If you are trying to create a <i>new</i> game: return to home with the
        exit button (below), type your username into the "User" field (leave "Game" blank),
        and click "Create new game."
        <br />
        <button routerLink="">Exit</button>
      </div>
      <div *ngSwitchCase="'ENOUSER'">
        <button (click)="addUser()">Add user</button>
      </div>
      <div *ngSwitchCase="'ENOWSS'">
        <button (click)="reloadPage()">Reload page</button>
      </div>
      <div *ngSwitchCase="'EOLDVER'">
        <button (click)="patch()">Apply patch</button>
      </div>
      <div *ngSwitchCase="'ESTORAGE'">
        Return to home and load again.
        <br />
        <button routerLink="">Exit</button>
      </div>
      <div *ngSwitchCase="'EPASSWD'">
        Return to home and enter the correct password.
        <br />
        <button routerLink="">Exit</button>
      </div>
      <div *ngSwitchDefault>
        <!--<button routerLink="">Exit</button>-->
        <button (click)="reloadPage()">Reload page</button>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #conglomeratesTemplate>
  <!--<app-public-work [state]="state" (raiseEE)="raisePublicWork($event)" [user]="user"></app-public-work>-->
  <app-cash appMenu (reportEE)="reportPledge($event)" [localSubjects]="localSubjects"
  [cart]="cart" [user]="user" [stateSubjects]="stateSubjects" [state]="state"
  [acceptedOffers]="acceptedOffers" [projected]="projected"></app-cash>
  <app-debug-menu appMenu [state]="state" (debugEE)="debug($event)" [game]="game"
  [stateSubjects]="stateSubjects" (passwdEE)="changePasswd($event)"></app-debug-menu>
  <!--<app-cart appMenu [cart]="cart" (cartEE)="removeItem()" [state]="state" [localSubjects]="localSubjects"
  [user]="user" [stateSubjects]="stateSubjects"></app-cart>-->
  <app-trade-offer appMenu [state]="state" [user]="user"
  [stateSubjects]="stateSubjects" [localSubjects]="localSubjects"
  [cart]="cart" [acceptedOffers]="acceptedOffers"
  (cartEE)="removeItem()" (offerEE)="modifyOffer()"></app-trade-offer>
  <app-round appMenu [state]="state" [stateSubjects]="stateSubjects" (readyEE)="ready($event)"
  [user]="this.user"></app-round>
  <div class="Flex Grid">
    <app-conglomerate *ngFor="let con of conglomerates" [conglomerate]="con[0]" class="Con" [cart]="cart"
    [state]="state" [description]="con[1]" [user]="user" (cartBubbleEE)="addCartItem($event)"
    [localSubjects]="localSubjects" [stateSubjects]="stateSubjects" [class]="con[0]"
    (memberEE)="changeMember($event)" [acceptedOffers]="acceptedOffers"
    [projected]="projected"></app-conglomerate>
  </div>
</ng-template>
<br />
<br />
