<div class="Title Block Flex Center" [class]="titleBlockClass">
  <span *ngIf="state.pw&&state.pw[comShort]>-1" id="icon-span">{{flavorIcons[state.pw[comShort]]}}</span>
  <span class="Title Normal Ultra">{{ company }}</span>
  <span class="Title Normal">&nbsp;|&nbsp;</span>
  <span class="Title Small">{{ description }}</span>
</div>
<div class="Flex Com Row">
  <div id="stock-div" class="Flex Column TopBlack">
    <span class="Title Small">Stock</span>
    <div id="price-div" class="Flex TopBlack" *ngIf="state.price">
      {{ state.price[conglomerate+':'+company] | currency }}
    </div>
    <div id="delta-div" class="Flex Row TopBlack" *ngIf="state.delta">
      <div id="delta-numbers" class="Flex Column">
        <div class="Flex DeltaNumber">
          {{ state.delta[conglomerate+':'+company] | currency }}
        </div>
        <div class="Flex DeltaNumber">
          {{ deltaPercent | percent }}
        </div>
      </div>
      <div id="delta-graph" class="Flex">
        {{ deltaEmoji }}
      </div>
    </div>
    <form [formGroup]="tradeOfferForm" (ngSubmit)="tradeOffer()" class="TopBlack Flex Column">
      <div class="Center Flex">&#9888;TRADE OFFER&#9888;</div>
      <div class="Flex Center" id="available-div">
        <span id="available-span">On The Market:&nbsp;</span>{{ available }} ({{projected.available}})
      </div>
      <div class="Flex Row">
        <label for="tx-select">From:&nbsp;</label>
        <select formControlName="tx" id="tx-select" class="Form Select Flex" [class]="tradeOfferForm.controls['tx'].value===null?'Market':'User'">
          <option [ngValue]="user" class="User">---</option>
          <option [ngValue]="null" id="the-market-option">The Market</option>
          <ng-container *ngFor="let tx of this.state.users">
            <option [ngValue]="tx" *ngIf="tx!==this.user" class="User">{{ tx }}</option>
          </ng-container>
        </select>
      </div>
      <div class="Flex Row Center" style="justify-content: center;">
        <div class="Form Flex Button Normal">
          <button (click)="increaseTradeOfferAmount(-1)" type="button"><</button>
        </div>
        <input class="Flex Form Input Small" type="number" value="0" formControlName="amount" id="amount-input"
          max="0.5" min="0" step="1" />
        <div class="Flex Form Button Normal">
          <button (click)="increaseTradeOfferAmount(1)" type="button">></button>
        </div>
      </div>
      <button type="submit" class="Flex Row Form Submit Large" appTooltip
      [options]="[{text:'You are not on the list of users that can trade! Next time, don\'t fail your pledge!',expr:state&&state['can-trade']&&!state['can-trade'].includes(user)},{text:'You cannot trade in this round!',expr:state&&state['can-trade']&&state['can-trade'].includes(user)&&state.round.phase===3},{text:'You cannot afford this many stocks!',expr:state&&state['can-trade']&&state['can-trade'].includes(user)&&state.round.phase!==3&&!(state.round.phase===2&&state.ready.includes(user))&&tradeOfferForm.controls['amount'].value!==null&&projected2.cash[user]!==undefined&&projected2.cash[user]<tradeOfferForm.controls['amount'].value*state.price[comShort]}]"
              [disabled]="!state.round||(state.round.phase===2&&state.ready.includes(user))||tradeOfferForm.controls['amount'].value===null||tradeOfferForm.controls['tx'].value!==null&&(tradeOfferForm.controls['amount'].value<=0||tradeOfferForm.controls['tx'].value===this.user||tradeOfferForm.controls['amount'].value>this.projected.user[tradeOfferForm.controls['tx'].value].own[this.comShort]||tradeOfferForm.controls['amount'].value%1!==0)||tradeOfferForm.controls['tx'].value===null&&(tradeOfferForm.controls['amount'].value===0||tradeOfferForm.controls['amount'].value%1!==0||tradeOfferForm.controls['amount'].value>this.projected.available)">
        {{state&&state.round&&state.round.phase===2&&state.ready.includes(user)?"Locked in!":(tradeOfferForm.controls['amount'].value===null||tradeOfferForm.controls['tx'].value!==null)?"Submit offer":tradeOfferForm.controls['amount'].value>=0?"Add to cart":"Sell off stocks"}}
      </button>
    </form>
    <div class="TopBlack Flex Column">
      <span class="Flex Center">Upgrade Membership</span>
      <span class="Flex Center" style="font-family: 'ITC Legacy Sans Std Medium'; font-size: 90%;">
        Available in {{state&&state.round&&state.round.phase===4?"this phase!":"a later phase"}}
      </span>
      <div class="Flex Row">
        <button (click)="memberEE.emit(comShort)" class="Flex Center Form Submit Large"
                [disabled]="!changeMemberPrice||!state.user||state.user[user].member[comShort]===3||!state.round||state.round.phase!==4||state.cash[user]<changeMemberPrice">
          Yes
        </button>
      </div>
      <span class="Flex Center">Cost: {{changeMemberPrice|currency}}</span>
    </div>
  </div>
  <div id="user-list" class="Flex Column" *ngIf="state.users">
    <span class="Title Small">Users</span>
    <div *ngFor="let user of state.users" class="Flex Column TopBlack">
      <div class="User Name Flex">{{ user }}</div>
      <div class="Flex Row">
        <div class="User Own Flex">
          Own: {{ state.user[user].own[comShort] }} ({{projected.user[user].own[comShort]}})
        </div>
        <div class="Flex">Tier: {{ state.user[user].member[comShort] }}</div>
      </div>
    </div>
  </div>
</div>
