.Flex.Com {
  width: auto;
  height: auto;
}
.Title.Small {
  align-self: center;
  font-size: 120%;
}
.Title.Normal {
  font-size: 150%;
}
.Title.Block {
  align-items: center;
}
#user-list {
  flex-basis: 50%;
  border-width: 1px 0px 0px 1px;
  border-color: black;
  border-style: solid;
}
.TopBlack {
  border-width: 1px 0px 0px 0px;
  border-color: black;
  border-style: solid;
}
.User.Name {
  margin: 0% auto;
  font-weight: bold;
}
.User.Own {
  flex-basis: 70%;
}
#stock-div {
  flex-basis: 50%;
}
#price-div {
  font-size: 200%;
}
#delta-div {
  flex-wrap: wrap;
  height: 45px;
}
#delta-numbers {
  flex-basis: 67%;
}
.DeltaNumber {
  flex: 1;
}
#delta-graph {
  flex: 2;
  flex-basis: 33%;
  font-size: 200%;
  justify-content: center;
}
.Flex.Space {
  justify-content: space-between;
}
.Form.Button.Large {
  font-size: 200%;
}
.Form.Input.Normal {
  width: 90px;
  margin: auto;
}
.Form.Submit {
  margin: 0% auto;
}
.Form.Submit.Large {
  font-size: 115%;
}
#purchase-span {
  font-size: 85%;
}
@media only screen and (min-width: 1366px) {
  #purchase-span {
    font-size: 75%;
  }
}
.Form.Select {
  width: 100px;
}
.Form.Input.Small {
  width: 70px;
}
.Form.Button.Normal {
  font-size: 150%;
}
#icon-span {
  font-size: 140%;
}
/*
@media only screen and (min-width: 1366px) {
  .Title.Small {
    font-size: 115%;
  }
  #icon-span, .Title.Normal {
    font-size: 125%;
  }
}
*/
#available-div {
  font-size: 80%;
}
#available-span {
  font-family: "ITC Legacy Sans Std Medium";
}
select.Market {
  background-color: gold;
}
#the-market-option {
  background-color: gold !important;
}
option.User, select.User {
  background-color: white;
}
