<div class="TitleBlock" [class]="titleBlockClass">
  <span *ngIf="state.pw&&state.pw[comShort]>-1" id="icon-span">{{flavorIcons[state.pw[comShort]]}}</span>
  <span class="BigTitle">{{ company }}&nbsp;|&nbsp;</span>
  <span class="Title">{{ description }}</span>
</div>
<div class="FlexCom">
  <div class="Stock">
    <span class="Title">Stock</span>
    <div class="Price" *ngIf="state.price">
      {{ state.price[conglomerate+':'+company] | currency }}
    </div>
    <div class="Delta" *ngIf="state.delta">
      <div class="DeltaNumbers">
        <div class="DeltaNumber">
          {{ state.delta[conglomerate+':'+company] | currency }}
        </div>
        <div class="DeltaNumber">
          {{ deltaPercent | percent }}
        </div>
      </div>
      <div class="DeltaGraph">
        {{ deltaEmoji }}
      </div>
    </div>
    <form [formGroup]="purchaseForm" (ngSubmit)="addToCart()" class="PurchaseForm">
      <div class="Purchase">
        <div class="PurchaseButton">
          <button (click)="increaseAmount(-1)" type="button"><</button>
        </div>
        <div class="PurchaseText">
          <span class="PurchaseSpan">Available: {{ available }} ({{projected.available}})</span>
          <input type="number" value="0" formControlName="amount" max="0.5" class="PurchaseInput"
            min="0" step="1" />
        </div>
        <div class="PurchaseButton">
          <button (click)="increaseAmount(1)" type="button">></button>
        </div>
      </div>
      <div class="AddToCart">
        <button type="submit" style="font-size: 115%;"
          [disabled]="!purchaseForm.controls['amount'].value||purchaseForm.controls['amount'].value<-this.projected.user[this.user].own[this.comShort]||purchaseForm.controls['amount'].value>this.projected.available||purchaseForm.controls['amount'].value%1!==0">
          {{ buyOrSellButton }}
        </button>
      </div>
    </form>
    <form [formGroup]="tradeOfferForm" (ngSubmit)="tradeOffer()" class="TradeOfferForm">
      <div class="TradeOfferText">&#9888;TRADE OFFER&#9888;</div>
      <div class="TradeDiv">
        <label for="r=tx-select">From:&nbsp;</label>
        <select formControlName="tx" id="tx-select" class="TradeSelect">
          <ng-container *ngFor="let tx of this.state.users">
            <option [ngValue]="tx" *ngIf="tx === this.user"></option>
            <option [ngValue]="tx" *ngIf="tx !== this.user">
              {{ tx }}
            </option>
          </ng-container>
        </select>
      </div>
      <div class="TradeDiv" style="justify-content: center;">
        <div class="TradeOfferButton">
          <button (click)="increaseTradeOfferAmount(-1)" type="button"><</button>
        </div>
        <input class="TradeInput" type="number" value="0" formControlName="amount" id="amount-input"
          max="0.5" min="0" step="1" />
        <div class="TradeOfferButton">
          <button (click)="increaseTradeOfferAmount(1)" type="button">></button>
        </div>
      </div>
      <button type="submit" class="TradeButton"
      [disabled]="!tradeOfferForm.controls['tx'].value||!tradeOfferForm.controls['amount'].value||tradeOfferForm.controls['amount'].value<=0||tradeOfferForm.controls['tx'].value===this.user||tradeOfferForm.controls['amount'].value>this.projected.user[tradeOfferForm.controls['tx'].value].own[this.comShort]||tradeOfferForm.controls['amount'].value%1!==0">
        Submit offer
      </button>
    </form>
  </div>
  <div class="Users">
    <span class="Title">Users</span>
    <div *ngFor="let user of state.users" class="User">
      <div class="Username">{{ user }}</div>
      <div class="UserProps">
        <div class="UserOwn">
          Own: {{ state.user[user].own[comShort] }} ({{projected.user[user].own[comShort]}})
        </div>
        <div class="UserMember">Tier: {{ state.user[user].member[comShort] }}</div>
      </div>
    </div>
  </div>
</div>
