.Com {
  flex-basis: 48%;
  border: solid black 1px;
  margin: 5px;
}
.BiggerTitle {
  display: flex;
  font-size: 200%;
}
.TitleBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}
