.Com {
  flex-basis: 47%;
  border-style: outset;
  border-width: 2px;
  border-color: #000;
  margin: 5px;
}
.Title.Large {
  font-size: 200%;
}
.Title.Block {
  align-items: center;
  justify-content: center;
}
