<button class="MenuButton Bottom Center Closed">ROUND</button>
<div class="Menu Bottom Center NoDisplay" [ngStyle]="{'overscroll-behavior-y':'none'}">
  <div class="Flex Center">
    <span id="ready-icon-span">{{readyIcon}}&nbsp;</span>
    <button id="ready-button" (click)="toggleReady()" [class.True]="readyState">Ready!</button>
  </div>
  <dl>
    <dt>
      Ready:
      <span *ngFor="let username of state.ready; index as i"><span *ngIf="i>0">, </span>{{username}}</span>
    </dt>
    <dt>
      Waiting on:
      <span *ngFor="let username of notReady; index as i"><span *ngIf="i>0">, </span>{{username}}</span>
    </dt>
  </dl>
  <dl>
    <dt>
      Round: <span *ngIf="state.round">{{state.round.round}}</span>
    </dt>
    <dt>
      Phase: <span *ngIf="state.round">{{whichPhase[state.round.phase]}}</span>
    </dt>
  </dl>
</div>
