# TypeScript build
/build/**
# Environment variables
.env
# SSH private key
httpd-private-key
# Log files
/log/**
# Teal build
/lua/**
# HTML temporary files
/html/temp/**
# Redis skeleton key
passwd.txt
