@font-face {
  font-family: "ITC Legacy Sans Std Bold Italic";
  src: url("assets/ITC Legacy Sans Std Bold Italic.otf");
}
@font-face {
  font-family: "ITC Legacy Sans Std Bold";
  src: url("assets/ITC Legacy Sans Std Bold.otf");
}
@font-face {
  font-family: "ITC Legacy Sans Std Book Italic";
  src: url("assets/ITC Legacy Sans Std Book Italic.otf");
}
@font-face {
  font-family: "ITC Legacy Sans Std Book";
  src: url("assets/ITC Legacy Sans Std Book.otf");
}
@font-face {
  font-family: "ITC Legacy Sans Std Medium Italic";
  src: url("assets/ITC Legacy Sans Std Medium Italic.otf");
}
@font-face {
  font-family: "ITC Legacy Sans Std Medium";
  src: url("assets/ITC Legacy Sans Std Medium.otf");
}
@font-face {
  font-family: "ITC Legacy Sans Std Ultra";
  src: url("assets/ITC Legacy Sans Std Ultra.otf");
}
* {
  font-family: "ITC Legacy Sans Std Bold";
}
select, option {
  font-family: "ITC Legacy Sans Std Medium";
}
.Ultra, b {
  font-family: "ITC Legacy Sans Std Ultra";
}
.Flex {
  display: flex;
}
.Flex.Grid {
  flex-wrap: wrap;
  flex-direction: row;
  width: 1366px;
}
@media only screen and (max-width: 1365px) {
  .Flex.Grid {
    flex-direction: column;
    width: auto;
  }
}
.Flex.GridAuto {
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
}
.Flex.Row {
  flex-direction: row;
}
.Flex.Column {
  flex-direction: column;
}
.Flex.ColumnReverse {
  flex-direction: column-reverse;
}
.Flex.Center {
  justify-content: center;
}
.MenuButton {
  border-style: outset;
  border-width: 2px;
  border-color: #bbbbbb;
  background-color: #eeeeee;
  position: fixed;
  font-size: 150%;
  cursor: pointer;
  z-index: 2;
  width: 110px;
  height: 36px;
}
.Menu {
  width: 400px;
  height: 300px;
  overflow-y: scroll;
  border-style: outset;
  border-width: 2px;
  border-color: #bbbbbb;
  background-color: #eeeeee;
  position: fixed;
  z-index: 1;
  padding: 5px;
}
.MenuButton.Top {
  top: 0px;
}
.Menu.Top {
  top: 34px;
}
.MenuButton.Bottom {
  bottom: 0px;
}
.Menu.Bottom {
  bottom: 34px;
}
.MenuButton.Left {
  left: 295px;
}
.MenuButton.Center {
  left: 630px;
}
.MenuButton.Right {
  left: 960px;
}
.Menu.Left {
  left: 135px;
}
.Menu.Center {
  left: 465px;
}
.Menu.Right {
  left: 810px;
}
@media only screen and (max-width: 1365px) {
  .MenuButton.Left {
    left: 19%;
  }
}
@media only screen and (max-width: 1365px) {
  .MenuButton.Center {
    left: 43%;
  }
}
@media only screen and (max-width: 1365px) {
  .MenuButton.Right {
    left: 68%;
  }
}
@media only screen and (max-width: 1365px) {
  .Menu.Left {
    left: 0.5%;
  }
}
@media only screen and (max-width: 1365px) {
  .Menu.Center {
    left: 23%;
  }
}
@media only screen and (max-width: 1365px) {
  .Menu.Right {
    left: 46%;
  }
}
.MenuButton:hover, .MenuButton.Open {
  background-color: #dddddd !important;
}
.MenuButton.Closed {
  background-color: #eeeeee;
}
.Menu.Display {
  display: block;
}
.Menu.NoDisplay {
  display: none;
}
/*
.TrueNeutral {
  background-color: white;
  color: black;
}
.MostExcellent {
  background-color: lightskyblue;
  color: black;
}
.Good {
  background-color: lawngreen;
  color: black;
}
.Bad {
  background-color: orange;
  color: white;
}
.DogWater {
  background-color: red;
  color: cyan;
  font-weight: 900;
}
*/
