<button class="MenuButton Top Right Closed">CASH</button>
<div class="Menu Top Right NoDisplay" [ngStyle]="{'overscroll-behavior-y':'none'}">
  <table class="FullWide">
    <tr>
      <th colspan="3"><b>Private Account</b></th>
    </tr>
    <tr>
      <th></th>
      <th class="Ul Right">Available</th>
      <th class="Ul Right">Projected</th>
    </tr>
    <tr *ngFor="let username of state.users">
      <td>{{username}}</td>
      <td class="Right">{{state.cash[username] | currency}}</td>
      <td class="Right">{{projected.cash[username] | currency}}</td>
    </tr>
    <tr>
      <th colspan="3" class="BorderTop"><b>Public Account Contributions</b></th>
    </tr>
    <tr *ngFor="let username of state.users">
      <td>{{username}}</td>
      <td class="Right">{{state.pa[username] | currency}}</td>
      <td class="Right" *ngIf="paTotal">{{state.pa[username]/paTotal | percent}}</td>
      <td class="Right" *ngIf="!paTotal">{{0 | percent}}</td>
    </tr>
    <tr>
      <th colspan="3" class="BorderTop"><b>Public Account Total</b></th>
    </tr>
    <tr>
      <th colspan="3">{{paTotal | currency}} ({{1e5 - paTotal | currency}} to go)</th>
    </tr>
    <tr>
      <th colspan="3">Your pledge this turn</th>
    </tr>
    <tr>
      <th colspan="3" *ngIf="state.pa&&user">{{state.pledge[user] | currency}}</th>
    </tr>
  </table>
  <div class="Flex Column">
    <span class="Ul Flex Row Center">Change pledge</span>
    <form [formGroup]="reportForm" (submit)="report()">
      <div class="Flex Row Center">
        <button type="button" (click)="addAmount(-100)"><</button>
        <input type="number" value="0" min="0" formControlName="amount" id="report-input" />
        <button type="button" (click)="addAmount(100)">></button>
      </div>
      <div class="Flex Row Center">
        <button type="submit"
                [disabled]="reportForm.controls['amount'].value===null||reportForm.controls['amount'].value<0||!state.round||state.round.phase!==1">
          Submit
        </button>
      </div>
      <div class="Flex Row Center" *ngIf="state.round&&state.round.phase!==1">
        You cannot change your pledge in this phase
      </div>
    </form>
  </div>
  <div *ngIf="state['can-trade']&&!state['can-trade'].includes(user)">
    &#10060;
    You failed a pledge, and therefore are
    <span style="font-family: ITC Legacy Sans Std Ultra;">barred</span>
    from stock trading until the end of round
    {{state.round && state.round.phase === 5 ? (state.round.round + 1) + " (next round)" : (state.round.round) + " (this round)"}},
    <span style="font-family: ITC Legacy Sans Std Bold Italic;">assuming you don't fail a pledge again</span>
  </div>
</div>
