<button class="MenuButton Top Right" [class]="menuButtonClass" (click)="toggleMenu()">CASH</button>
<div class="Menu Top Right" [class]="menuClass" [ngStyle]="{'overscroll-behavior-y':'none'}">
  <span id="private-account-span">Private Account</span>
  <table>
    <tr *ngFor="let username of state.users">
      <td>{{username}}</td>
      <td>{{state.cash[username] | currency}}</td>
      <td>({{projected.cash[username] | currency}})</td>
    </tr>
  </table>
  <div class="Flex Column Center">
    <span class="Flex Center">Public Account Contributions</span>
  </div>
  <table>
    <tr *ngFor="let username of state.users">
      <td>{{username}}</td>
      <td>{{state.pa[username] | currency}}</td>
      <td *ngIf="state.pa[username]">({{paTotal/state.pa[username] | percent}})</td>
    </tr>
  </table>
  <div class="Flex Column Center">
    <span class="Flex Center">Public Account Total</span>
    <span class="Flex Center">{{paTotal | currency}} ({{1e5 - paTotal | currency}} to go)</span>
    <span class="Flex Center">Your pledge this turn</span>
    <span class="Flex Center" *ngIf="state.pa&&user">{{state.pledge[user] | currency}}</span>
  </div>
</div>
