#private-account-span {
  margin-left: 42%;
}
#public-account-span {
  margin-left: 38%;
}
.Flex {
  display: flex;
}
.Flex.Column {
  flex-direction: column;
}
.Flex.Center {
  justify-content: center;
}
