th[colspan="3"] {
  text-align: center;
}
td.Right, th.Right {
  text-align: right;
}
table.FullWide {
  width: 100%;
}
#report-input {
  width: 12ch;
}
th.BorderTop {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
}
