#private-account-span {
  margin-left: 42%;
}
#public-account-span {
  margin-left: 38%;
}
.Ul {
  text-decoration-line: underline;
}
th[colspan="3"] {
  text-align: center;
}
td.Right, th.Right {
  text-align: right;
}
table.FullWide {
  width: 100%;
}
