#pw-button {
  left: 960px;
}
@media only screen and (max-width: 1365px) {
  #pw-button {
    left: 68%;
  }
}
#pw-menu {
  left: 810px;
}
@media only screen and (max-width: 1365px) {
  #pw-menu {
    left: 46%;
  }
}
#raise-button {
  background-color: gold;
  border-style: outset;
  border-color: white;
  border-width: 1px;
  font-size: 110%;
}
#raise-button:hover {
  background-color: goldenrod;
}
#stock-select {
  width: 250px;
}
#flavor-select {
  width: 110px;
}
/*
.DogWater {
  margin: -1.9px;
}
*/
