#raise-button {
  background-color: gold;
  border-style: outset;
  border-color: white;
  border-width: 1px;
  font-size: 110%;
}
#raise-button:hover {
  background-color: goldenrod;
}
#stock-select {
  width: 250px;
}
#flavor-select {
  width: 110px;
}
/*
.DogWater {
  margin: -1.9px;
}
*/
