#raise-button {
  background-color: gold;
  border-style: outset;
  border-color: white;
  border-width: 1px;
  font-size: 110%;
}
#raise-button:hover {
  background-color: goldenrod;
}
#stock-select {
  width: 250px;
}
#flavor-select {
  width: 130px;
}
/*
.DogWater {
  margin: -1.9px;
}
*/
table.Wide {
  width: 100%;
  border-collapse: collapse;
}
td.Requirement {
  width: 40%;
}
td.Qualify {
  width: 5%;
  font-size: 80%;
}
.TopBlack {
  border-width: 1px 0px 0px 0px;
  border-color: black;
  border-style: solid;
}
.BottomBlack {
  border-width: 0px 0px 1px 0px;
  border-color: black;
  border-style: solid;
}
dl {
  margin: 0px;
}
dd {
  margin-left: 5%;
}
td.Item {
  font-family: "ITC Legacy Sans Std Medium"
}
