<div class="ThreeColumn">
  <div>
    <form [formGroup]="storageForm" (ngSubmit)="onSubmit()">
      Set Storage
      <br />
      <label for="key-input">Game: </label>
      <input id="key-input" type="text" formControlName="game" />
      <br />
      <label for="value-input">User: </label>
      <input id="value-input" type="text" formControlName="user" />
      <br />
      <!--<button type="submit" [disabled]="!storageForm.valid">Submit trash</button>-->
      <button type="submit" [disabled]="!storageForm.valid">
        Continue <span class="Underline">old</span> game
      </button>
      <button type="submit"
        [disabled]="this.storageForm.controls['game'].valid||!this.storageForm.controls['user'].valid">
        Create <span class="Underline">new</span> game
      </button>
      <br />
      <button type="submit"
        [disabled]="!this.lastGame||!this.lastUser||this.storageForm.controls['game'].valid||this.storageForm.controls['user'].valid">
        Continue <span class="Underline">last</span> game
      </button>
      <button type="submit"
        [disabled]="this.storageForm.valid||!this.storageForm.controls['game'].valid"
        (click)="this.storageForm.controls['delete'].setValue(true)">
        Delete <span class="Underline">this</span> game
      </button>
      <br />
      <button type="submit" [disabled]="!storageForm.valid"
        (click)="this.storageForm.controls['remove-user'].setValue(true)">
        Remove <span class="Underline">that</span> user
      </button>
    </form>
  </div>
  <div>
    <button (click)="getStorage()">Get Storage</button>
    <div *ngFor="let message of messages">{{ message }}<br /></div>
  </div>
  <div>
    <button (click)="clearStorage()">Clear Storage</button>
  </div>
</div>
