.ThreeColumn {
  display: grid;
  grid-template-columns: repeat(3, max-content);
}
.Underline {
  text-decoration: underline;
}
.StorageDiv {
  display: flex;
  flex-direction: row;
}
#storage-inputs-div {
  display: flex;
  flex-direction: column;
}
.Messages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.Message {
  display: flex;
}
.Form {
  display: block;
  width: 250px;
}
#lists {
  display: flex;
}
dl {
  display: block;
  white-space: nowrap;
}
dt {
  margin-left: 30px;
}
dd {
  margin-left: 60px;
}
button {
  width: 100%;
}
.Locked::after {
  font-size: 80%;
  content: "\A0\1F512";
}
