button.Action {
  border-style: outset;
  border-width: 1px;
  background-color: #edd;
  border-color: #bbb;
}
button.Action:hover {
  background-color: #dcc;
}
input:invalid + span::before {
  font-size: 80%;
  content: "\274C";
}
